* {
    margin: 0;
  }
  body {
   background-color: #050607;
 
  }
  .app{
    display: flex;
    /* justify-content: space-evenly;
    padding: 20px; */
  }
  
  .app_left{
    background-color: #404143;
    color: rgb(240, 245, 248);
    width: 50%;
    height: 70%;
    margin-left: 15px;
    margin-top: 20px;
   
  }
  .app_left>h3{
    color: #39ff14;
    margin-top: 10px;
    margin-left: 15rem;
  }
  .app_right{
    background-color: #404143;
    color: rgb(240, 245, 248);
    width: 50%;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;

  }
  .app_right>h3 {
    color: #39ff14;
    margin-left: 15rem;
    margin-top: 10px;
  }
  .all_votes{
    width: 98%;
    background-color: #404143;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 5rem;
    margin-bottom: 10px;

  }
  .all_votes>h3 {
    color: #39ff14;
    margin-left: 37rem;
  }

  .table.table-borderless>thead{
    color: #39ff14;
  }

  .table.table-borderless>tbody{
    color: rgb(240, 245, 248)
  }
    